@import url("./reset-css.css");
@font-face {
  font-family: "h";
  src: url("../fonts/sf-pro-display/SF-Pro-Display-Bold.otf");
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}

body {
  color: #24292f;
  background-color: #fafafa;
  user-select: none;
}

a,
a:hover,
a:active {
  color: #24292f;
}

.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 1200px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 578px;
  }
}

.header-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  margin: 2.4rem 0;
  border-radius: 1.6rem;
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
}

.logo {
  font-size: 2.4rem;
  font-family: "h";
}
@media (max-width: 578px) {
  .logo {
    font-size: 1.6rem;
    width: 9.7rem;
    line-height: 1.2;
  }
}

.header__btn-warp {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.header__btn-icon {
  width: 3.2rem;
  height: auto;
  color: inherit;
  transition: all 0.3s ease;
}
.header__btn-icon:hover {
  color: #4479c4;
  transform: scale(1.05);
}
@media (max-width: 578px) {
  .header__btn-icon {
    width: 3.2rem;
  }
}

.digital-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digital-clock__box {
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
  margin: 2.4rem 0;
  border-radius: 3.2rem;
  padding: 6.4rem;
}
@media (max-width: 578px) {
  .digital-clock__box {
    padding: 3.2rem;
    border-radius: 1.6rem;
  }
}

.digital-clock__text {
  color: #24292f;
  font-size: 12vw;
  display: block;
  width: 50vw;
  font-family: h;
}

.analog-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 1rem solid #24292f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock::after {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  background-color: #24292f;
  content: " ";
  border-radius: 50%;
}

.hours,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hours {
  width: 12rem;
  height: 12rem;
  z-index: -1;
}

.min {
  width: 20rem;
  height: 20rem;
  z-index: -2;
}

.sec {
  width: 24rem;
  height: 24rem;
  z-index: -3;
}

.hr::after {
  content: " ";
  width: 8px;
  height: 6.4rem;
  border-radius: 10rem;
  background-color: #222222;
  display: block;
}

.mn::after {
  content: " ";
  width: 6px;
  height: 10rem;
  border-radius: 10rem;
  background-color: #758a93;
  display: block;
}

.sc::after {
  content: " ";
  width: 3px;
  height: 14rem;
  border-radius: 10rem;
  background-color: #dc0000;
  display: block;
}

.setting__clock {
  display: none;
}

.setting__clock-box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: block;
  z-index: 100;
  position: absolute;
  inset: 0;
  margin: auto;
}

.setting__clock-bg {
  display: block;
  background-color: rgba(36, 41, 47, 0.4);
  backdrop-filter: blur(0.4rem);
  position: absolute;
  inset: 0;
}

/*# sourceMappingURL=main.css.map */
