$black-color: #24292f;
$white-color: #fafafa;

@import url("./reset-css.css");

@font-face {
  font-family: "SF-Pro-Display-bold";
  src: url("../fonts/sf-pro-display/SF-Pro-Display-Bold.otf");
}

@mixin media($size) {
  @if $size == 1400 {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if $size == 1200 {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $size == 992 {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $size == 768 {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $size == 578 {
    @media (max-width: 578px) {
      @content;
    }
  }
}
@mixin flex-center() {
  display: flex;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}
body {
  color: $black-color;
  background-color: $white-color;
  user-select: none;
  font-family: "SF-Pro-Display-bold";
}
a,
a:hover,
a:active {
  color: $black-color;
}
.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 1200px;
  overflow: hidden;
  @include media(1200) {
    max-width: 992px;
  }
  @include media(992) {
    max-width: 768px;
  }
  @include media(768) {
    max-width: 578px;
  }
}

.header {
}
.header-warp {
  @include flex-center();
  justify-content: space-between;
  padding: 1.6rem 2rem;
  margin: 2.4rem 0;
  border-radius: 1.6rem;
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
}
.logo {
  font-size: 2.4rem;
  @include media(578) {
    font-size: 1.6rem;
    width: 9.7rem;
    line-height: 1.2;
  }
}
.header__btn-warp {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.header__btn {
}
.header__btn {
}
.header__btn-icon {
  width: 3.2rem;
  height: auto;
  color: inherit;
  transition: all 0.3s ease;
  &:hover {
    color: #4479c4;
    transform: scale(1.05);
  }
  @include media(578) {
    width: 3.2rem;
  }
}

.setting__btn {
}
.setting__btn__icon {
}
.github__btn {
}
.github__btn-icon {
}

.digital-clock {
  height: 80vh;
  @include flex-center();
  justify-content: center;
}
.digital-clock__box {
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
  margin: 2.4rem 0;
  border-radius: 3.2rem;
  padding: 6.4rem;
  @include media(578) {
    padding: 3.2rem;
    border-radius: 1.6rem;
  }
}
.digital-clock__text {
  color: $black-color;
  font-size: 12vw;
  display: block;
  width: 50vw;
}

.analog-clock {
  display: none;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.clock-warp {
  @include flex-center();
  justify-content: center;
}

.clock {
  display: block;
  min-width: 64rem;
  min-height: 64rem;
  border-radius: 50%;
  border: 1rem solid $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include media(1200) {
    transform: scale(0.9);
  }
  @include media(992) {
    transform: scale(0.6);
  }
  @include media(768) {
    transform: scale(0.4);
  }
  @include media(578) {
    transform: scale(0.3);
  }
}

.clock::after {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  background-color: $black-color;
  content: " ";
  border-radius: 50%;
}
.hours,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
}
.hours {
  width: 24rem;
  height: 24rem;
  z-index: -2;
}
.min {
  width: 32rem;
  height: 32rem;
  z-index: -1;
}
.sec {
  width: 40rem;
  height: 40rem;
}
.hr::after {
  content: " ";
  width: 1.2rem;
  height: 12rem;
  border-radius: 100% 100% 0 0;

  background-color: #222222;
  display: block;
}
.mn::after {
  content: " ";
  width: 0.8rem;
  height: 16rem;
  border-radius: 100% 100% 0 0;

  background-color: #758a93;
  display: block;
}
.sc::after {
  content: " ";
  width: 0.4rem;
  height: 20rem;
  border-radius: 100% 100% 0 0;
  background-color: #dc0000;
  display: block;
}

.setting__clock {
  display: none;
}
.setting__clock-box {
  max-width: 56rem;
  height: fit-content;
  padding: 24px;
  border-radius: 2.4rem;
  background-color: $white-color;
  display: block;
  z-index: 100;
  position: absolute;
  inset: 0;
  margin: auto;
  @include media(578) {
    margin: auto 2.4rem;
  }
}
.setting__title-text {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  border-bottom: 1px solid #969696;
  padding-bottom: 1.2rem;
  margin-bottom: 1.6rem;
}
.clock-type__warp {
  @include flex-center();
  flex-wrap: wrap;
  gap: 1.6rem;
}
.clock-type__digital-analog {
  @include flex-center();
  flex-direction: column;
  border-radius: 1.6rem;
  flex-grow: 1;
  border: 1px solid $black-color;
  padding: 2.4rem;
  row-gap: 1.6rem;
  &:hover {
    background-color: #eeeeee;
  }
}
.clock-type__digital-analog--active {
  background-color: #e9e9e9;
}

.clock-type__icon {
}
.clock-type__text {
  font-size: 2rem;
}

.setting__clock-bg {
  display: block;
  background-color: rgba(36, 41, 47, 0.4);
  backdrop-filter: blur(0.4rem);
  position: absolute;
  inset: 0;
}
