@import url("./reset-css.css");
@font-face {
  font-family: "f";
  src: url("../fonts/sf-pro-display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "h";
  src: url("../fonts/sf-pro-display/SF-Pro-Display-Bold.otf");
}
@mixin media($size) {
  @if $size == 1400 {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if $size == 1200 {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $size == 992 {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $size == 768 {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $size == 578 {
    @media (max-width: 578px) {
      @content;
    }
  }
}
$black-color: #24292f;
$white-color: #fafafa;
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}
body {
  color: $black-color;
  background-color: $white-color;
  user-select: none;
}
a,
a:hover,
a:active {
  color: $black-color;
}
.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 1200px;
  overflow: hidden;
  @include media(1200) {
    max-width: 992px;
  }
  @include media(992) {
    max-width: 768px;
  }
  @include media(768) {
    max-width: 578px;
  }
}

.header {
}
.header-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  margin: 2.4rem 0;
  border-radius: 1.6rem;
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
}
.logo {
  font-size: 2.4rem;
  font-family: "f";
  @include media(578) {
    font-size: 1.6rem;
  }
}
.header__btn-warp {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.header__btn {
}
.header__btn {
}
.header__btn-icon {
  width: 3.2rem;
  height: auto;
  color: inherit;
  transition: all 0.3s ease;
  &:hover {
    color: #4479c4;
    transform: scale(1.05);
  }
  @include media(578) {
    width: 3.2rem;
  }
}

.setting__btn {
}
.setting__btn__icon {
}
.github__btn {
}
.github__btn-icon {
}

.digital-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digital-clock__box {
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
  margin: 2.4rem 0;
  border-radius: 3.2rem;
  padding: 6.4rem;
  @include media(578) {
    padding: 3.2rem;
    border-radius: 1.6rem;
  }
}
.digital-clock__text {
  color: $black-color;
  font-size: 12vw;
  display: block;
  width: 50vw;
  font-family: h;
}
