@import url("./reset-css.css");
@font-face {
  font-family: "h";
  src: url("../fonts/sf-pro-display/SF-Pro-Display-Bold.otf");
}
@mixin media($size) {
  @if $size == 1400 {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if $size == 1200 {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $size == 992 {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $size == 768 {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $size == 578 {
    @media (max-width: 578px) {
      @content;
    }
  }
}
$black-color: #24292f;
$white-color: #fafafa;
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}
body {
  color: $black-color;
  background-color: $white-color;
  user-select: none;
}
a,
a:hover,
a:active {
  color: $black-color;
}
.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 1200px;
  overflow: hidden;
  @include media(1200) {
    max-width: 992px;
  }
  @include media(992) {
    max-width: 768px;
  }
  @include media(768) {
    max-width: 578px;
  }
}

.header {
}
.header-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  margin: 2.4rem 0;
  border-radius: 1.6rem;
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
}
.logo {
  font-size: 2.4rem;
  font-family: "h";
  @include media(578) {
    font-size: 1.6rem;
    width: 9.7rem;
    line-height: 1.2;
  }
}
.header__btn-warp {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.header__btn {
}
.header__btn {
}
.header__btn-icon {
  width: 3.2rem;
  height: auto;
  color: inherit;
  transition: all 0.3s ease;
  &:hover {
    color: #4479c4;
    transform: scale(1.05);
  }
  @include media(578) {
    width: 3.2rem;
  }
}

.setting__btn {
}
.setting__btn__icon {
}
.github__btn {
}
.github__btn-icon {
}

.digital-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digital-clock__box {
  box-shadow: 0 0 16px 8px rgba(36, 41, 47, 0.04);
  background-color: #fff;
  margin: 2.4rem 0;
  border-radius: 3.2rem;
  padding: 6.4rem;
  @include media(578) {
    padding: 3.2rem;
    border-radius: 1.6rem;
  }
}
.digital-clock__text {
  color: $black-color;
  font-size: 12vw;
  display: block;
  width: 50vw;
  font-family: h;
}

.analog-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  display: block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 1rem solid $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock::after {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  background-color: $black-color;
  content: " ";
  border-radius: 50%;
}
.hours,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
}
.hours {
  width: 12rem;
  height: 12rem;
  z-index: -1;
}
.min {
  width: 20rem;
  height: 20rem;
  z-index: -2;
}
.sec {
  width: 24rem;
  height: 24rem;
  z-index: -3;
}
.hr::after {
  content: " ";
  width: 8px;
  height: 6.4rem;
  border-radius: 10rem;
  background-color: #222222;
  display: block;
}
.mn::after {
  content: " ";
  width: 6px;
  height: 10rem;
  border-radius: 10rem;
  background-color: #758a93;
  display: block;
}
.sc::after {
  content: " ";
  width: 3px;
  height: 14rem;
  border-radius: 10rem;
  background-color: #dc0000;
  display: block;
}

.setting__clock {
  display: none;
}
.setting__clock-box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: block;
  z-index: 100;
  position: absolute;
  inset: 0;
  margin: auto;
}
.setting__clock-bg {
  display: block;
  background-color: rgba(36, 41, 47, 0.4);
  backdrop-filter: blur(0.4rem);
  position: absolute;
  inset: 0;
}
